example implementations/csharp/cvox-convertor/obj/
example implementations/csharp/cvox-convertor/bin/
example implementations/csharp/blazor/cvox-convertor-blazor/obj/
example implementations/csharp/blazor/cvox-convertor-blazor/bin/
example implementations/csharp/blazor/cvox-convertor-blazor/.vs/
example implementations/csharp/cvox-convertor/.vs/
